@font-face {
  font-family: 'PolskaOnLine';
  src: url('/powitalna_pol/assets/fonts/polskaonline.ttf');
  src:
    local('PolskaOnLine'),
    local('PolskaOnLine'),
    url('/powitalna_pol/assets/fonts/polskaonline.ttf')
    format('opentype');
}

.container {
  font-family: 'PolskaOnLine', sans-serif;
}
